---
import { Image } from "astro:assets"
import logo from '../assets/CoffeeLove.svg'
import menu from '../assets/menu.png'
---

<nav>
  <ul class="flex justify-between m-4 absolute">
    <li><Image src={logo} alt="logo" width={50} height={50}/></li>
    <li><Image src={menu} alt="menu" width={50} height={50}/></li>
  </ul>
</nav>
